@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --navbar: #C3120C;
    --fundo: #591715;
    --fundo-jogo: #fff;
    --fundo-bloco: #F73F39;
    --preto: #000;
    --fonte-principal: 'Inter';
    --amarelo-mensagem: #DBDE4E;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: var(--navbar);
}

.navbar-icone {
    display: flex;
    align-items: flex-end;
    margin-left: 4.4rem;
    gap: 0.5rem
}

.icone-imagem {
    width: 70px;
    height: 70px;
}

.icone-texto {
    font-size: 25px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 5rem;
}

.tabuleiro {
    width: 500px;
    height: 500px;
    border-radius: 50px;
    border: 20px solid var(--preto);
    background: var(--fundo-jogo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linha {
    display: flex;
    gap: 6px;
    margin-bottom: 6px;
}

.bloco {
    width: 127px;
    height: 127px;
    border-radius: 20px;
    border: 12px solid var(--preto);
    background: var(--fundo-bloco);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

[data-cheio=""]:hover {
    background: var(--navbar);
}

.div-placar {
    margin-left: 7rem;
}

.placar {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.jogador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.jogador-info {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.jogador-numero {
    font-size: 30px;
}

.mensagem-turno {
    background-color: var(--amarelo-mensagem);
    padding: 0.2rem 0.5rem 0.2rem;
    border-radius: 4px;
    font-size: 14px;
}

.numero-vitorias {
    font-size: 50px;
}

.jogador-mugshot {
    width: 40px;
    height: 40px;
}

.bloco-ponto {
    height: 100px;
    width: 100px;
}

[data-vez="sim"] {
    display: block;
}

[data-vez="não"] {
    display: none;
}

/* Estilo para o overlay que cobre o tabuleiro */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Certifique-se de que o overlay esteja acima do conteúdo abaixo */
    display: block;
}

/* Estilo para a tela de vitória no meio do tabuleiro */
.tela-de-vitoria {
    background-color: #fff;
    color: var(--navbar);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Deve estar acima do overlay */
    display: block;
}

/* Estilo para o botão "Jogar Novamente" abaixo da tela de vitória */
.jogar-novamente {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 50%; /* Ajuste essa porcentagem para a posição vertical desejada */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001; /* Deve estar acima da tela de vitória e do overlay */
    display: none;
}

#jogar {
    display: block;
}

.botao-som {
    margin-right: 1rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0.5rem;
    background-color: var(--amarelo-mensagem);
    cursor: pointer;
}

.espacamento-som {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.icone-som {
    width: 30px;
    height: 30px;
}

[data-som="sim"] {
    content: url("assets/sound-on-icon.png");
}

[data-som="não"] {
    content: url("assets/sound-off-icon.png");
}


@media screen and (max-width: 768px) {
    .navbar-icone {
        margin-left : 1rem;
    }

    .tabuleiro {
        width: 15.625rem;
        height: 15.625rem;
        border-radius: 25px;
        border: 10px solid var(--preto);
    }

    .bloco {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 10px;
        border: 6px solid var(--preto);
    }

    .div-placar {
        margin-left: 0;
        margin-top: 1rem;
    }

    .jogador-numero {
        font-size: 16px;
    }

    .numero-vitorias {
        font-size: 20px;
    }

    main {
        flex-direction: column;
    }

    .placar {
        gap: 1rem;
    }

    .bloco-ponto {
        width: 50px;
        height: 50px;
    }

    .jogador {
        gap: 1rem;
    }
}

